<footer>
  <ul class="social-links list-inline">
    <li>
      <% link_to 'http://twitter.com' do %>
      <i class="fa fa-twitter"></i>
      <% end %>
    </li>
    <li>
      <% link_to 'http://facebook.com' do %>
      <i class="fa fa-facebook"></i>
      <% end %>
    </li>
    <li>
      <% link_to 'http://linkedin.com' do %>
      <i class="fa fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <% link_to 'http://youtube.com' do %>
      <i class="fa fa-youtube"></i>
      <% end %>
    </li>
  </ul>
  <p class="credits">
    Made with <i class="fa fa-heart"></i> at Le Wagon
  </p>
</footer>
